/* dashboard.css */
.dashboard-content {
    padding-top: 20px;
    min-height: 100vh;
}

/* LeftSidebar.css */
.sidebar {
    background-color: #F4C142;
    border: 3px solid #71154E;
    border-radius: 20px;
    height: max-content !important;
    padding-top: 20px;
    width: 200px;
    margin-top: 30px;
    padding-bottom: 20px;
}

.sidebar a {
    display: flex; /* Add this to make flexbox work */
    align-items: center; /* Align content vertically to the center */
    padding: 10px 20px;
    color: #495057;
    text-decoration: none;
    font-size: 16px;
    border-left: 2px solid transparent;
}

.sidebar a:hover {
    background-color: #e9ecef;
    border-left: 5px solid #007bff;
    color: #007bff;
}

/* Apply margin to the icons */
.sidebar img {
    margin-right: 10px; /* Adjust as needed */
}