/* dashboard.css */
.dashboard-content {
    padding-top: 20px;
    min-height: 100vh;
}

.sidebar {
    background-color: #F4C142; /* Customize background color */
    border: 3px solid #71154E; /* Optional: Add a border on the right side */
    border-radius: 20px;
    height:max-content !important; /* Make sidebar full height */
    padding-top: 20px; /* Adjust top padding */
    width: 200px;
    margin-top: 30px;
    padding-bottom: 20px; /* Adjust top padding */

}

.sidebar a {

    padding: 10px 20px;
    color: #495057; /* Customize link color */
    text-decoration: none;
    font-size: 16px;
    border-left: 2px solid transparent;
}

.sidebar a:hover {
    background-color: #e9ecef; /* Customize hover background color */
    border-left: 5px solid #007bff; /* Customize hover border color */
    color: #007bff; /* Customize hover text color */
}
