/* Navbar.css */

/* Custom styles for the Navbar */

.logo{
  width: 300px;
  height: 70px;
  border-radius: 10px;
  margin-left: -80px;
  margin-top: 10px;

}
.navbar {
  padding: 0px 0;
  background-color:#3d0026;
  margin-bottom: -5px;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-color: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-item {
  margin-bottom: -40px !important;
}

.nav-link {
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #F4C142;
}

/* Profile image styles */
.profile-image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

/* Dropdown styles */
.dropdown-menu {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  color: #343a40;
  font-weight: bold;
}

.dropdown-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.dropdown {
  margin-left: 450px;
}
.dropdown-item:hover {
  background-color: #17a2b8 !important;
  color: #fff;
}

/* Custom styles for the responsive navigation menu */
@media (max-width: 768px) {
  .navbar-nav {
    text-align: left;
    margin-top: 10px;
  }

  .nav-item {
    margin-bottom: 8px;
  }
}

.profile{
  /* margin-left: 830px; */
  margin-right: 0px;
}
.login{
  margin-left: 380px;
  margin-right: 0px;
  transition: transform 0.3s;
}
.signup{
  margin-left: 20px;
  margin-right: 0px;
  background-color: transparent !important;
  border: transparent !important;
  transition: transform 0.3s;
}
.signup:hover{
  background-color:  #17a2b8 !important;
  transform: scale(1.1);
}
.login:hover{
  transform: scale(1.1);
}
.items{
  margin-top: 10px;
}

rotate-on-hover {
  transition: all 0.3s ease-in-out 0s;
}

.rotate-on-hover:hover {
  /* transform: rotateX(360deg); */
  transform: translateY(-30px) translateZ(0px);

  transition: transform 0.8s ease-in-out; 
  cursor: pointer; /* Add this to show the cursor changes on hover */
  /* transition: all 0.3s ease-in-out 0s; */
	background-color  : #ffd700;
	color             : #696969;
}



@keyframes slideDownfromUp {
  0% {
    transform: translateY(-100%);
    /* opacity: 1; */
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
    /* opacity: 1; */

  }
}

@keyframes slideDown {
  0% {
    transform: translateY(100%);
    /* opacity: 1; */
  }
  50% {
    transform: translateY(0);
    /* opacity: 0; */
  }
  100% {
    transform: translateY(0);
    /* opacity: 1; */

  }
}

.slide-up-and-down-on-hover {
  position: relative;
  overflow: hidden;
}

.slide-up-and-down-on-hover:hover span {
  animation: slideDown 0.4s;

  animation-fill-mode: forwards;
}

.slide-up-and-down-on-hover span {
  display: block;
}

.slide-up-and-down-on-hover:not(:hover) span {
  animation: slideDownfromUp 0.4s;
  animation-fill-mode: forwards;
}
.home{
margin-left: 20px;
margin-bottom: 5px !important;
}
.about{
  margin-left: 20px;

}
.contact{
  margin-left: 20px;
}
