/* styles.css */
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

/* Your custom styles */

.sidebar{
    /* margin-left: -10px; */
    height:100%;
    width:100%
}
.page{
    background-color:aliceblue;
    height: 100%;
}

.uploadlogo {
    cursor: pointer;
}

  .file-upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    width: 100%;
  
    &.drag-active {
      background-color: #b8d9f5; /* Change background color on drag over */
    }
  
    .upload-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  
    .upload-text {
      font-size: 16px;
      color: #555;
    }
  
    input {
      display: none;
    }
  }
  .message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure message box appears above overlay */
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 999; /* Ensure overlay appears above page content */
  }
  
  .overlay.blurred {
    backdrop-filter: blur(5px); /* Apply blur effect to overlay */
  }

  .buttonsDiv{
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
    color: #71154E;
    /* background-color: #F4C142 !important; */
  }
   .dashButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px ;
    padding-right:20px ;
    padding-left:20px ;
    height: 50px;
    color: #71154E;
    background-color: #F4C142 !important;
   }
   .dashButton:hover{
    background-color: #71154E !important;
    color: #F4C142;
    scale: 1.1; 
    transition: 0.5s;   
  }

   .dashButton:focus{
    background-color: #71154E !important;
    color: #F4C142;    scale: 1.1; 
    transition: 0.5s;
   }
  

.sample{
  border-color: #71154E;
  border: 5px solid #71154E;
}
